modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_anthropic:1.0.0", "python_database:1.0.0", "python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "freetype", "imagemagickBig", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]
